session staus service (navbar) {{data$ | async | json}} 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2 rounded-2">
    <a class="navbar-brand" routerLink="">Home</a>

    <div class="col">     
            <ng-container *ngIf="userSession">
            <a class="navbar-brand" routerLink="user">Usuario</a> 
            <a class="navbar-brand" routerLink="car">Coche</a> 
            <a class="navbar-brand" routerLink="dashboard">Dashboard</a>  
            <a class="navbar-brand" routerLink="maintenances">Mantenimiento</a> 
            <a class="navbar-brand" routerLink="repairs">Reparación</a>  
            <a class="navbar-brand" routerLink="logout" (click)="logout()">Logout</a>

            <a class="navbar-brand" routerLink="set-car">set car</a> 
            <a class="navbar-brand" routerLink="set-maintenance">set maintenance</a>  
            <a class="navbar-brand" routerLink="set-repair">set repair</a>  
            <a class="navbar-brand" routerLink="set-user">set user</a>
        </ng-container>
    </div>

  </nav>