<div class="row text-center">
    <div class="col">     
        session staus service {{data$ | async | json}} 
        <ng-container *ngIf="(data$ | async)">
            WORKING!!!
        </ng-container>
            <ng-container *ngIf="userSession">
            <a routerLink="user">Usuario</a> | 
            <a routerLink="car">Coche</a> | 
            <a routerLink="dashboard">Dashboard</a> | 
            <a routerLink="maintenances">Mantenimiento</a> | 
            <a routerLink="repairs">Reparación</a> | 
            <a routerLink="logout" (click)="logout()">Logout</a>
        </ng-container>
    </div>
</div>

<div class="row text-center">
    <div class="col">      
        <ng-container *ngIf="userSession">
            <a routerLink="set-car">set car</a> | 
            <a routerLink="set-maintenance">set maintenance</a> | 
            <a routerLink="set-repair">set repair</a> | 
            <a routerLink="set-user">set user</a> | 
        </ng-container>
    </div>
</div>